@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли свой пароль?";
}

<link href="/css/loginPage.css" rel="stylesheet" type="text/css">

@*<h1>@ViewData["Title"]</h1>*@
<div class="row">
    <div class="col-md-12 layout">
        <form method="post">
            <h2 class="forgot_password">Введите свой пароль.</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Почта" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 loginAccount">Сбросить пароль</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
